name: Build deps

on:
  workflow_dispatch:

env:
  BUILD_CMD: -fno-stack-protector -O3 -msse3 -DNDEBUG -DMINIZ_NO_ZLIB_APIS -DMINIZ_NO_ZLIB_COMPATIBLE_NAMES *.c

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - run: |
          wget -qO- https://sqlite.org/src/tarball/sqlite.tar.gz?r=release | tar xz
          cd sqlite
          sh configure
          make sqlite3.c
          mv sqlite3.c ../lib

      - id: miniz
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: richgel999/miniz

      - uses: actions/checkout@v2
        with:
          repository: richgel999/miniz
          ref: ${{ steps.miniz.outputs.release }}
          path: miniz

      - working-directory: miniz
        run: |
         ./amalgamate.sh
         mv amalgamation/miniz.c ../lib
         mv amalgamation/miniz.h ../lib

      - run: |
         git config user.name github-actions
         git config user.email github-actions@github.com
         ! git diff --quiet || exit 0
         git add -u
         git commit -m updated
         git push

  build-windows:
    needs: fetch
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - working-directory: lib
        run: |
          clang -m64 -fuse-ld=llvm-lib -o utile.lib ${{ env.BUILD_CMD }}

      - uses: actions/upload-artifact@v4
        with:
          name: lib-windows
          path:
            lib/*.lib

  build-linux:
    needs: fetch
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-24.04-arm ] # FIXME : there's no ubuntu-latest-arm
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          ref: main

      - working-directory: lib
        run: |
          clang -fPIC -c ${{ env.BUILD_CMD }}
          [ ${{ matrix.os }} = ubuntu-latest ] && SUFFIX= || SUFFIX=_arm
          ar rcs libutile$SUFFIX.a *.o

      - uses: actions/upload-artifact@v4
        with:
          name: lib-linux-${{ strategy.job-index }}
          path:
            lib/*.a

  commit:
    runs-on: ubuntu-latest
    needs: [ build-linux, build-windows ]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main

      - uses: actions/download-artifact@v4
        with:
          pattern: lib-*
          merge-multiple: true

      - run: |
          mv artifact/* bin

          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -u
          git commit -m generated
          git push
