name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest, ubuntu-24.04-arm ]
        dub_compiler: [ ldc, dmd ]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - uses: dlang-community/setup-dlang@v1
        with:
          compiler: ${{ matrix.dub_compiler }}

      - run: |
          [ ${{ matrix.os }} = ubuntu-24.04-arm ] && ARCH=aarch64 || ARCH=x86_64
          dub test -b unittest -a $ARCH

  release:
    runs-on: ubuntu-latest
    needs: [ build ]
    if: "!contains(github.event.head_commit.message, 'WIP')"

    steps:
      - uses: actions/checkout@v2

      - uses: anothrNick/github-tag-action@1.35.0
        id: create_tag
        env:
          WITH_V: true
          DEFAULT_BUMP: patch
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.create_tag.outputs.new_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
